/*--------------------------------
Products Gallery
--------------------------------*/
.gallery-title
{
    font-size: 36px;
    color: #f14e95;
    text-align: center;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 30px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    height: 45px;
    transform: translateX(-50%);
    border-bottom: 1px solid #9b9b9b;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #f14e95;
    border-radius: 50px;
    text-align: center;
    color: #f14e95;
    margin-bottom: 30px;
    background-color: transparent;

}
.filter-button:hover,
.filter-button.active,
.filter-button:active
{
    font-size: 18px;
    border: 1px solid #f14e95;
    text-align: center;
    color: #ffffff;
    background-color: #f14e95;
    box-shadow: none;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/*--------------------------------
Product
--------------------------------*/
.gallery_products {
    padding: 80px 0 54px;
}

.gallery_products .single-product {
    margin-bottom: 26px;
}

.gallery_products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery_products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.gallery_products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.gallery_products #product-1 .part-1::before {
    background: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.gallery_products .single-product .part-1 .discount,
.gallery_products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #f14e95;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.gallery_products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.gallery_products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.gallery_products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.gallery_products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.gallery_products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #f14e95;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.gallery_products .single-product .part-1 ul li a:hover {
    color: #c73f7a;
}

.gallery_products .single-product .part-2 .product-title {
    font-size: 2rem;
    color: #828282;
}

.gallery_products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1.6rem;
    color: #828282;
}

.gallery_products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.gallery_products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}